
element {

    width: 543px;

}
.JCLRgrips {

    height: 0px;
    position: relative;

}
* {

    cursor: default;
    margin: 0;
    padding: 0;

}
body {

    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    text-align: center;

}
