<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/instantfeed">Instant Feed</a></li>
      <li><a href="#/start">Start New Research</a></li>
      <li><a href="#/rankingwords">Re-set Word Probability</a></li>
      <li><a href="#/instantfeed">Instant Feed</a></li>
      <li><a href="#/topwordsgaphs">Top Words</a></li>
      <li><a href="#/topwordsgraphs2">Top Two Words</a></li> 
      <li><a href="#/topwordsgraphs3">Top Three Words</a></li>
      <li><a href="#/tweets">All tweets/Change Avaliation</a></li>
      <li><a href="#/exprimentar">Info</a></li>
    </ul>
  </div>
</nav>


<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
         <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>