
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-redirect-to="#/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/start">Start New Research</a></li>
      <li><a href="#/rankingwords">Re-set Word Probability</a></li>
      <li><a href="#/topwordsgraphs">Top Words</a></li>
      <li><a href="#/topwordsgraphs2">Top Two Words</a></li> 
      <li><a href="#/topwordsgraphs3">Top Three Words</a></li>
      <li><a href="#/tweets">All tweets/Change Avaliation</a></li>
        <li><a href="#/exprimentar">Info</a></li>
    </ul>
  </div>
</nav>

    <form name="form" ng-submit="vm.start()" role="form">
        <div id="first">
        <div class="form-group" ng-class="{ 'has-error': form.track.$dirty && form.track.$error.required }">
        <input name="track" type="text" class="form-control" ng-model="vm.track" id="track" placeholder="2 or More Key Words to the Topic in study                                         Ex: nevertrump,votetrump Ex: messi,ronaldo                                                       Give us your best shoot" required/>
        <span ng-show="form.track.$dirty && form.track.$error.required" class="help-block">Track is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.number.$dirty && form.number.$error.required }">
        <input name="number" type="text" ng-model="vm.number" class="form-control" id="number" placeholder="Number of tweets you want to analyze" required/>
        <span ng-show="form.number.$dirty && form.number.$error.required" class="help-block">Number is required</span>
        </div>
            
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Get Learning Tweets</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        </div>
<table id="tabela" class="table table-bordered">
          <thead>
              <tr>
                  <th>Sentiment</th>
                  <th>Tweet</th>
            </tr>
        </thead>
          <tbody name="unico">
              
        </tbody>
</table>
</form>
<form name="form" ng-submit="vm.results()" role="form">
<div style="display:none" id="second">
<div class="form-actions">
<button type="submit" ng-disabled="vm.dataLoading" class="btn btn-primary">Avaliation Done</button>
    </div>
</div>
</form>

 